.quiz-login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/city.png');

  .form-container {
    background-color: white;
    width: 30vw;
    margin-top: 1em;
    border: 1px solid #c5c5c5;
    border-radius: 0.5em;
    padding: 1em;

    box-shadow: 0 5px 14px rgba(145, 145, 145, 0.5);

    label {
      position: relative;
      right: 1em;
      display: block;
    }

    input {
      width: 16em;
      margin: 0.5em 0;
      font-size: 1em;
      padding: 0.5em;
      border: 1px solid #c5c5c5;
      border-radius: 5px;
    }
  }
}
