.quiz-page {
  height: 100vh;
  display: flex;
  flex-direction: row;

  .banner {
    position: fixed;
    top: calc(50vh - 217px);
    left: calc(50vw - 300px);

    .division-container {
      bottom: -4em;
      left: -4em;
      position: absolute;
      background-color: black;
      color: white;

      display: flex;
      align-items: flex-end;

      width: 12.5em;
      height: 12.5em;
      padding: 1em;
    }
  }

  .quiz-container {
    flex: 1;
    overflow-y: scroll;

    .score-container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .question-container {
      height: calc(100vh - 8em);
      padding: 4em;
      padding-right: 8em;

      color: #101020;

      .question-number {
        color: #27b0f0;
      }
      .question {
        margin: 0.5em 0;
      }

      .choices-container {
        display: flex;
        flex-direction: column;

        .choice {
          background-color: #ebe9f3;
          padding: 1em;
          margin-bottom: 0.5em;

          cursor: pointer;

          &.answer {
            background-color: #27b0f0;
            color: white;
          }
        }

        .next {
          margin-top: 1.5em;
          background-color: #ff8738;
          padding: 1em;
          color: white;

          cursor: pointer;

          &:disabled {
            background-color: #778298;
          }
        }
      }
    }
  }
}
